<div class="form-group">
  <label for="title">Título</label>
  <input type="text" class="form-control" id="title"
    name="title" required
    ng-model="ctrl.model.title"/>
</div>
<div class="form-group">
  <label for="content">Contenido</label>
  <div style="width:100%; display: flex">
    <div style="flex:1;">
      <textarea class="form-control" id="content"
        name="content" style="height: 100%;"
        ng-model="ctrl.model.content">
      </textarea>
    </div>
    <div style="flex: 1; border: 1px solid black;"
      ng-bind-html="ctrl.model.content | marked">
    </div>
  </div>
</div>
