<h1 ng-bind="$ctrl.topic.title"></h1>
<h3 ng-bind="$ctrl.topic.description"></h3>
<div class="input-group" style="width: 300px;">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-search"></span>
  </span>
  <input type="text" class="form-control" ng-model="$ctrl.searchText"/>
</div>
<div class="list-group">
  <div class="list-group-item ng-hide" ng-hide="$ctrl.posts.length">
    Ningún mensaje
  </div>
  <a class="list-group-item" href="#"
    ng-repeat="post in $ctrl.posts | filter: $ctrl.searchText | orderBy: -post.createdAt track by post.id "
    ng-click="$ctrl.like(post)">
    <h4 class="list-group-heading">
      {{post.title}}
      <span class="badge" ng-bind="post.likes"></span>
    </h4>
    <small ng-bind="post.createdAt | date:'dd-MMM-yyyy HH:mm:ss'"></small>
    <p class="list-group-item-text" ng-bind-html="post.content | marked"></p>
  </a>
</div>
