<a class="list-group-item" href="#" ng-click="$ctrl.like()">
  <h4 class="list-group-item-heading">
    {{$ctrl.post.title}}
    <span class="badge" ng-bind="$ctrl.post.likes"></span>
  </h4>
  <small ng-bind="$ctrl.post.createdAt | date:'dd-MMM-yyyy HH:mm:ss'"></small>
  <p class="list-group-item-text" ng-bind-html="$ctrl.post.content | marked"></p>
</a>
