<div class="input-group" style="width: 300px;">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-search"></span>
  </span>
  <input type="text" class="form-control"
    ng-model="$ctrl.searchText"
    ng-change="$ctrl.onSearch({search:$ctrl.searchText})"  />
</div>
