<h1>Films</h1>
<div class="input-group"  style="max-width:500px;">
  <span class="input-group-addon">
    <i fa="search"></i>
  </span>
  <input type="text" class="form-control"
    ng-model="$view.search"/ />
  <span class="input-group-btn">
    <button type="button" class="btn btn-primary"
      ng-model="$view.limitTo"
      uib-btn-checkbox
      btn-checkbox-true="$view.limitAll"
      btn-checkbox-false="$view.limitSome">
        {{$view.limitTo == $view.limitAll ? "Limitar" : "Ver Todos"}}
    </button>
  </span>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        &nbsp;
      </th>
      <th>
        <sort-button
          button-class="{{$view.clsBtnSort}}"
          field="title"
          sort-name="$view.sortName"
          sort-dir="$view.sortDir">
        </sort-button>
        Titulo
      </th>
      <th>
        <sort-button
          button-class="{{$view.clsBtnSort}}"
          field="category"
          sort-name="$view.sortName"
          sort-dir="$view.sortDir">
        </sort-button>
        Categoria
      </th>
      <th>
        <sort-button
          button-class="{{$view.clsBtnSort}}"
          field="rating"
          sort-name="$view.sortName"
          sort-dir="$view.sortDir">
        </sort-button>
        Clasificacion
      </th>
      <th>
        Actores
      </th>
      <th class="text-right">
        Duracion
        <sort-button
          button-class="{{$view.clsBtnSort}}"
          field="length"
          sort-name="$view.sortName"
          sort-dir="$view.sortDir">
        </sort-button>
      </th>
      <th class="text-right">
        Precio
        <sort-button
          button-class="{{$view.clsBtnSort}}"
          field="price"
          sort-name="$view.sortName"
          sort-dir="$view.sortDir">
        </sort-button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr title="{{row.description}}"
      ng-repeat="row in $view.films | filter:$view.search | orderBy: $view.sortName:$view.sortDir | limitTo:$view.limitTo track by row.id">
      <td>
        <a class="btn btn-warning" ui-sref="app.film.edit ({id:{{row.id}}})">
          <i fa="pencil"></i>
          Edit
        </a>
      </td>
      <td>
        {{row.title}}
      </td>
      <td>
        {{row.category}}
      </td>
      <td>
        {{row.rating}}
      </td>
      <td>
        <div class="btn-group" uib-dropdown is-open="row.isActorsOpen">
          <button id="btn-actors-{{row.id}}" type="button" class="btn btn-primary"
            uib-dropdown-toggle>
            Ver <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu"
            aria-labelledby="btn-actors-{{row.id}}">
            <li role="menuitem" ng-repeat="actor in row.actors">
              {{actor}}
            </li>
          </ul>
        </div>
      </td>
      <td class="text-right">
        {{row.length}} min
      </td>
      <td class="text-right">
        Bs. {{(row.price * $view.tc) | number:2}}
      </td>
    </tr>
  </tbody>
</table>
