<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form novalidate name="frmLogin" ng-submit="view.onSubmit($event)">
        <legend>Ingresar</legend>
        <div class="form-group" ng-class="{'has-error': frmLogin.username.$invalid}">
          <label for="username">Usuario</label>
          <input type="text" class="form-control" id="username" name="username"
            ng-model="view.username" placeholder="Usuario" required/>
        </div>
        <div class="form-group" ng-class="{'has-error': frmLogin.password.$invalid}">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password"
            ng-model="view.password" placeholder="Contraseña" required/>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="frmLogin.$invalid">
          Ingresar
        </button>
      </form>
    </div>
  </div>
</div>
