<h2  style="text-align:center; width:100%;">
  <span class="label label-primary">
    {{$ctrl.text}}
  </span>
</h2>
<div style="text-align:center; width:100%;">
  <div class="btn-group">
    <button type="buttom" class="btn btn-success"
      ng-click="$ctrl.start()"
      ng-disabled="$ctrl.running">
      <i fa="play"></i>
    </button>
    <button type="button" class="btn btn-info"
      ng-click="$ctrl.stop()"
      ng-disabled="!$ctrl.running">
      <i fa="pause"></i>
    </button>
    <button type="button" class="btn btn-warning"
      ng-click="$ctrl.reset()">
      <i fa="refresh"></i>
    </button>
  </div>
</div>
