<h1>Topicos Populares</h1>
<input type="text" class="form-control" ng-model="vm.search" style="max-width: 300px;"/>
<table class="table table-striped">
  <thead>
    <th>
      <sort-button
        button-class="{{vm.clsBtnSort}}"
        field="title"
        sort-name="vm.sortName"
        sort-dir="vm.sortDir">
      </sort-button>
      Titulo
    </th>
    <th>
      <sort-button
        button-class="{{vm.clsBtnSort}}"
        field="description"
        sort-name="vm.sortName"
        sort-dir="vm.sortDir">
      </sort-button>
      Descripcion
    </th>
    <th style="text-align: right;">
      <sort-button
        button-class="{{vm.clsBtnSort}}"
        field="posts"
        sort-name="vm.sortName"
        sort-dir="vm.sortDir">
      </sort-button>
      Posts
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="row in vm.topics | filter:vm.search | orderBy:vm.sortName:vm.sortDir track by row.id">
      <td>
        <a ui-sref="app.post.view ({id:{{row.id}}})" class="btn btn-success">
          <i class="fa fa-hand-o-right"></i>
        </a>
        {{row.title}}
      </td>
      <td ng-bind="row.description"></td>
      <td ng-bind="row.posts | number:0" style="text-align: right;"></td>
    </tr>
  </tbody>
</table>
