<h1>UAGRM <small>Home</small></h1>
<h3>
  <a ui-sref="app.uagrm.list"
    class="btn btn-info">
    Listado
  </a>
</h3>
<div>
  <strong>Fecha:</strong>
  {{ $ctrl.ahora | date:'EEE dd-MMM-yyyy' }}
  {{ $ctrl.ahora | date:'EEE dd-MMM-yyyy' | uppercase }}
</div>
<div>
  <strong>Hora:</strong>
  {{ $ctrl.ahora | date: 'HH:MM:ss'}}
</div>
<div>
  <strong>Time:</strong>
  <div>
    {{ $ctrl.ahora.getTime() }}
  </div>
  <div>
    {{ $ctrl.ahora.getTime() | number }}
  </div>
  <div>
    {{ $ctrl.ahora.getTime() / $ctrl.den }}
  </div>
  <div>
    {{ $ctrl.ahora.getTime() / $ctrl.den | number }}
  </div>
  <div>
    {{ $ctrl.ahora.getTime() / $ctrl.den | number:2 }}
  </div>
  <div>
    {{ $ctrl.ahora.getTime() / $ctrl.den | number:0 }}
  </div>
</div>
