<h1>Listado <small>{{ $ctrl.lista.length }}</small></h1>
<div class="list-group">
  <div class="list-group-item"
    href="#"
    ng-click="$ctrl.selectItem(item)"
    ng-class="{active: $ctrl.selected==item.id}"
    ng-repeat="item in $ctrl.lista track by item.id">
    <a class="badge"
      ui-sref="app.uagrm.view ({id:{{item.id}}})">
      {{ item.posts}}
    </a>
    <h4 class="list-group-item-heading">
      {{ item.title }}
    </h4>
    <p class="list-group-item-text ng-hide"
      ng-show="$ctrl.selected == item.id">
      {{item.description}}
    </p>
  </div>
</div>
