<form name="dlgForm" novalidate
  ng-submit="dlg.ok(dlg.model)">
  <div class="modal-header">
    <div class="modal-title">
      Agregar Post
    </div>
  </div>
  <div class="modal-body">
    <div class="form-group"
      ng-class="{'has-error': dlgForm.title.$invalid}">
      <label for="title">Titulo</label>
      <input type="text" class="form-control"
        id="title" name="title"
        required
        ng-model="dlg.model.title"/>
    </div>
    <div class="form-group"
      ng-class="{'has-error': dlgForm.content.$invalid}">
      <label for="content">Contenido</label>
      <textarea class="form-control"
        id="content" name="content"
        required
        ng-model="dlg.model.content">
      </textarea>
    </div>
    <div class="form-group"
      ng-class="{'has-error': dlgForm.likes.$invalid}">
      <label for="likes">Likes</label>
      <input type="number" class="form-control"
        id="likes" name="likes"
        required
        ng-model="dlg.model.likes"/>
    </div>
    <div class="form-group"
      ng-class="{'has-error': dlgForm.likes.$invalid}">
      <label for="topic">Categoria</label>
      <select class="form-control"
        ng-model="dlg.model.topic"
        ng-options="topic as topic.title for topic in dlg.topics">
      </select>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
      type="submit"
      ng-disabled="dlgForm.$invalid">
      <i class="fa fa-save"></i>
      Guardar
    </button>
    <button class="btn btn-default"
      ng-click="dlg.no('Cancelar')">
      <i class="fa fa-close"></i>
      Cancelar
    </button>
  </div>
</form>
