<h1>
  Categoria
  <small>
    {{$ctrl.topic.title}}
    ({{$ctrl.topic.posts}})
  </small>
</h1>
<div class="btn-group">
  <button class="btn btn-primary"
    ng-click="$ctrl.showPanel()">
    <i class="fa fa-plus"></i>
    Panel
  </button>
  <button class="btn btn-info"
    ng-click="$ctrl.showDialog()">
    <i class="fa fa-plus"></i>
    Dialog
  </button>
</div>
<p>
  {{$ctrl.topic.description}}
</p>
<form name="panelForm" novalidate>
  <div class="ng-hide panel panel-primary"
    ng-show="$ctrl.isShowingPanel">
    <div class="panel-heading">
      <div class="panel-title" style="display: inline-block;">
        Agregar Post {{$ctrl.panelModel.title}}
      </div>
      <button class="btn btn-default pull-right"
        style="border:none; background: transparent;"
        ng-click="$ctrl.hidePanel()">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="panel-body">
      <div class="form-group"
        ng-class="{'has-error': panelForm.title.$invalid}">
        <label for"panelTitle">Titulo</label>
        <input type="text" class="form-control"
          id="panelTitle" name="title"
          required
          ng-model="$ctrl.panelModel.title"/>
        <div ng-messages="panelForm.title.$error">
          <p class="text-danger"
            ng-message="required">
            * Requerido
          </p>
        </div>
      </div>
      <div class="form-group"
        ng-class="{'has-error': panelForm.content.$invalid}">
        <label for="panelContent">Contenido</label>
        <textarea class="form-control"
          id="panelContent" name="content"
          required
          ng-model="$ctrl.panelModel.content">
        </textarea>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-success"
        ng-click="$ctrl.savePanel()"
        ng-disabled="panelForm.$invalid">
        <i class="fa fa-save"></i>
        Guardar
      </button>
      <button class="btn btn-default"
        ng-click="$ctrl.hidePanel()">
        <i class="fa fa-close"></i>
        Cancelar
      </button>
      <button class="btn btn-warning"
        ng-click="$ctrl.panelModel.title='Hola';">
        <i class="fa fa-check"></i>
        Hola
      </button>
    </div>
  </div>
</form>

<div class="list-group">
  <div class="list-group-item"
    ng-repeat="post in $ctrl.posts | orderBy:'-createdAt'">
    <h4 class="list-group-item-heading">
      {{post.title}}
      <a class="badge" href="#"
        ng-click="$ctrl.like(post)">
        {{post.likes | number}}
      </a>
    </h4>
    <p class="list-group-item-text"
      ng-bind-html="post.content | marked">
    </p>
    <h5>
      {{post.createdAt | date:'dd-MMM-yyyy HH:mm:ss'}}
    </h5>
  </div>
</div>
